In [1]:
#import library
from pandas_gbq import read_gbq
import pandas as pd
import numpy as np
import os
import datetime
import ssl
import logging

In [2]:
from datetime import date, timedelta

# Get today's date
today = date.today()
idx = (today.weekday() + 1) % 7

# Current week (CY) range
end_date = today - timedelta(days=(7 + idx - 6))
start_date = end_date - timedelta(days=6)

# Prior period (PP) range
pp_end_date = start_date - timedelta(days=1)
pp_start_date = pp_end_date - timedelta(days=13)

# Corresponding week last year (CWLY and PWLY)
cwly_date = pp_end_date - timedelta(days=364) + timedelta(days=7)
pwly_date = pp_end_date - timedelta(days=364)

# Output all dates
(end_date, start_date, pp_end_date, pp_start_date, cwly_date, pwly_date)

(datetime.date(2025, 10, 18),
 datetime.date(2025, 10, 12),
 datetime.date(2025, 10, 11),
 datetime.date(2025, 9, 28),
 datetime.date(2024, 10, 19),
 datetime.date(2024, 10, 12))

In [3]:
today

datetime.date(2025, 10, 22)

In [4]:
from custom_query import read_sql_query, sql_files

# Read SQL queries from files
queries = {key: read_sql_query(path) for key, path in sql_files.items()}

# Execute queries if all were successfully reada
if all(queries.values()):
    try:
        df_weekly_note = read_gbq(queries["weekly_note"], project_id='pcln-pl-airanalytics-prod')
        finance_data = read_gbq(queries["finance_data"], project_id='pcln-pl-airanalytics-prod')
        tsa_data = read_gbq(queries["tsa_data"], project_id='pcln-pl-airanalytics-prod')
        deal_share = read_gbq(queries["deal_share"], project_id='pcln-pl-airanalytics-prod')
        tsa_data = read_gbq(queries["tsa_data"], project_id='pcln-pl-airanalytics-prod')
        upsell_data = read_gbq(queries["upsell_query"], project_id='pcln-pl-airanalytics-prod')
        direct_parity_data = read_gbq(queries["direct_parity_data"], project_id='pcln-pl-airanalytics-prod')
        meta_parity_data = read_gbq(queries["meta_parity_data_query"], project_id='pcln-pl-airanalytics-prod')
        # bookability_data = read_gbq(queries["bookability_query"], project_id='pcln-pl-airanalytics-prod')
        roi_data = read_gbq(queries["roi_query"], project_id='pcln-pl-airanalytics-prod')
        dau_conversion_data = read_gbq(queries["dau_conversion_query"], project_id='pcln-pl-airanalytics-prod')
        midt_data = read_gbq(queries["midt_query"], project_id='pcln-pl-airanalytics-prod')
    #     sem_data = read_gbq(queries["sem_query"], project_id='pcln-pl-airanalytics-prod')
        print("SQL queries executed successfully.")
    except Exception as e:
        print(f"Failed to execute SQL queries: {e}")

/Users/sye/Library/Python/3.9/lib/python/site-packages/google/auth/_default.py:76: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
SQL queries executed successfully.

## make a copy of dataset

In [5]:
# make a copy of every data set
df_finance=finance_data.copy()
df_direct_parity=direct_parity_data.copy()
df_meta_parity = meta_parity_data.copy()
df_roi=roi_data.copy()
dau_conversion=dau_conversion_data.copy()
df_deal_share=deal_share.copy()
df_upsell=upsell_data.copy()
df_tsa=tsa_data.copy()
# df_bookability=bookability_data.copy()
df_weekly=df_weekly_note.copy()
df_weekly.columns = df_weekly.columns.str.lower()
# df_midt=midt_data.copy()
# df_sem=sem_data.copy()

In [6]:

base_dir = '../../data_file/'

# Check if directory exists
if not os.path.exists(base_dir):
    print(f"Error: Directory {base_dir} does not exist!")

# Save files
file_names = {
    'df_finance': df_finance,
    'direct_parity': df_direct_parity,
    'meta_parity': df_meta_parity,
    'dau_conversion': dau_conversion,
    'df_roi': df_roi,
    'deal_share': df_deal_share,
    # 'bookability': df_bookability,
    'weekly': df_weekly
}

# Save with verification
for name, df in file_names.items():
    file_path = f'{base_dir}{name}.csv'
    print(f"Saving: {file_path}")
    # print(df.head())  # Print first few rows to confirm data
    df.to_csv(file_path, index=False)

# Read files
for name in file_names.keys():
    file_path = f'{base_dir}{name}.csv'
    print(f"Reading: {file_path}")

    if os.path.exists(file_path):
        df_read = pd.read_csv(file_path)
        # print(df_read.head())  # Print first few rows to compare
    else:
        print(f"Error: {file_path} not found!")

Saving: ../../data_file/df_finance.csv
Saving: ../../data_file/direct_parity.csv
Saving: ../../data_file/meta_parity.csv
Saving: ../../data_file/dau_conversion.csv
Saving: ../../data_file/df_roi.csv
Saving: ../../data_file/deal_share.csv
Saving: ../../data_file/weekly.csv
Reading: ../../data_file/df_finance.csv
Reading: ../../data_file/direct_parity.csv
Reading: ../../data_file/meta_parity.csv
Reading: ../../data_file/dau_conversion.csv
Reading: ../../data_file/df_roi.csv
Reading: ../../data_file/deal_share.csv
Reading: ../../data_file/weekly.csv

In [7]:
df_weekly

,wk_starting,wk_ending,us_travel_type,company,brand,offer_type,carrier_detail,carrier,offer_method_code,search_channel,...,yoy_gross_contribution,net_contribution_ly,net_contribution_cy,yoy_net_contribution,gr_contr_fee_ly,gr_contr_fee_cy,yoy_gr_contr_fee,net_contr_fee_ly,net_contr_fee_cy,yoy_net_contr_fee
0,2024-12-29,2025-01-04,Domestic,Agoda,Agoda,Flights Only,Alaska Airlines (AS),Alaska Airlines (AS),Retail (Disclosed),Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2024-12-29,2025-01-04,Domestic,Agoda,Agoda,Flights Only,Alaska Airlines (AS),Alaska Airlines (AS),Retail (Disclosed),Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2024-12-29,2025-01-04,Domestic,Agoda,Agoda,Flights Only,Alaska Airlines (AS),Alaska Airlines (AS),Retail (Disclosed),Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2024-12-29,2025-01-04,Domestic,Agoda,Agoda,Flights Only,Alaska Airlines (AS),Alaska Airlines (AS),Retail (Disclosed),Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2024-12-29,2025-01-04,Domestic,Agoda,Agoda,Flights Only,Alaska Airlines (AS),Alaska Airlines (AS),Retail (Disclosed),Other,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135996,2025-10-19,2025-10-25,X,Priceline B2C,Priceline,Packages,WestJet (WS),Other,Retail (Disclosed),Site.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1135997,2025-10-19,2025-10-25,X,Priceline B2C,Priceline,Packages,WestJet (WS),Other,Retail (Disclosed),Site.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1135998,2025-10-19,2025-10-25,X,Priceline B2C,Priceline,Packages,WestJet (WS),Other,Retail (Disclosed),Site.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1135999,2025-10-19,2025-10-25,X,Priceline B2C,Priceline,Packages,Wizz Air (W6),Other,Retail (Disclosed),Site.com,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1136000,2025-10-19,2025-10-25,X,Priceline B2C,Priceline,Packages,interCaribbean (JY),Other,Retail (Disclosed),SEM Core,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Summary Table

In [8]:

def format_number(num):
    if pd.isna(num):
        return ''
    if abs(num) >= 1e6:
        return f"{num/1e6:.1f}M"
    elif abs(num) >= 1e3:
        return f"{num/1e3:.0f}K"
    elif abs(num) < 1e3:
        return "<1K"
    return f"{num:.0f}"

def format_percentage(num):
    if pd.isna(num):
        return ''
    return f"{num:.1f}%"

def round_to_nearest_10(num):
  return round(num / 10) * 10

df_pricelince=df_weekly[(df_weekly['brand']== 'Priceline')& (df_weekly['wk_ending']>= pp_end_date)& (df_weekly['wk_ending']<= end_date)]
df_pricelince_air=df_weekly[(df_weekly['brand']== 'Priceline')&(df_weekly['offer_type']== 'Flights Only')& (df_weekly['wk_ending']>= pp_end_date)& (df_weekly['wk_ending']<= end_date)]
df_pricelince_b2c=df_weekly[(df_weekly['brand']== 'Priceline')&(df_weekly['company']== 'Priceline B2C')&(df_weekly['wk_ending']>= pp_end_date)& (df_weekly['wk_ending']<= end_date)]
df_pricelince_b2c_standalone=df_weekly[(df_weekly['brand']== 'Priceline')&(df_weekly['company']== 'Priceline B2C')&(df_weekly['offer_type']== 'Flights Only')&(df_weekly['wk_ending']>= pp_end_date)& (df_weekly['wk_ending']<= end_date)]

In [9]:
import kpi
import importlib

importlib.reload(kpi)

from kpi import calculate_business_metrics

# Calculate business metrics
df_business = calculate_business_metrics(df_pricelince,end_date, pp_end_date)

from kpi import calculate_carrier_metrics
# Calculate carrier metrics
df_carrier = calculate_carrier_metrics(df_pricelince_b2c_standalone, end_date, pp_end_date)

from kpi import calculate_channel_metrics
# Calculate channel metrics
df_channel = calculate_channel_metrics(df_pricelince_b2c_standalone, end_date, pp_end_date)

from kpi import calculate_source_metrics
# Calculate source metrics
df_source = calculate_source_metrics(df_pricelince_b2c_standalone, end_date, pp_end_date)

from kpi import calculate_brand_metrics
# Calculate brand metrics
df_brand = calculate_brand_metrics(df_weekly, end_date, pp_end_date)

In [10]:
df_business

,Net Tickets_standalone,YoY_standalone,YoY PW_standalone,Net Tickets_package,YoY_package,YoY PW_package,Net Tickets_total,YoY_total,YoY PW_total
company,,,,,,,,,
B2C,156K,-4.6%,-5.0%,27K,22.7%,26.0%,183K,-1.4%,-1.5%
B2B,6K,-17.5%,-22.5%,5K,0.4%,7.1%,11K,-10.4%,-11.0%
Total,162K,-5.2%,-5.7%,31K,18.7%,22.6%,194K,-2.0%,-2.1%

In [11]:
df_channel

,Net Tickets_App,YoY_App,YoY PW_App,Net Tickets_Desk/MWEB,YoY_Desk/MWEB,YoY PW_Desk/MWEB,Net Tickets_Total,YoY_Total,YoY PW_Total
search_channel_group,,,,,,,,,
Direct,33K,-2.1%,-4.1%,24K,-17.5%,-15.2%,57K,-9.1%,-9.2%
Web Marketing,8K,88.4%,86.6%,55K,-7.1%,-7.7%,63K,-0.6%,-1.4%
Shop PPC,6K,-8.1%,9.2%,20K,1.5%,-7.7%,26K,-0.9%,-3.5%
Affiliate,<1K,201.1%,230.4%,10K,-12.3%,-6.5%,10K,-10.6%,-5.1%
Total,48K,6.1%,6.8%,109K,-8.7%,-9.4%,156K,-4.6%,-5.0%

In [12]:
df_carrier

,Net Tickets_Retail,YoY_Retail,YoY PW_Retail,Net Tickets_Opaque,YoY_Opaque,YoY PW_Opaque,Net Tickets_Total,YoY_Total,YoY PW_Total
carrier,,,,,,,,,
American Airlines (AA),25K,-23.2%,-17.9%,11K,36.0%,30.6%,37K,-11.4%,-8.1%
Delta Air Lines (DL),19K,-19.5%,-23.9%,<1K,-89.6%,-91.4%,20K,-34.3%,-39.0%
United Airlines (UA),15K,-15.2%,-16.1%,8K,3.7%,-8.3%,22K,-9.7%,-14.0%
Southwest Airlines (WN),17K,22458.1%,25545.6%,<1K,inf%,inf%,17K,22648.6%,25825.0%
Spirit Airlines (NK),9K,-48.5%,-48.7%,,,,9K,-48.5%,-48.7%
Frontier Airlines (F9),21K,27.4%,4.4%,,,,21K,27.4%,4.4%
Alaska Airlines (AS),4K,-22.3%,-17.1%,3K,2.7%,17.8%,7K,-13.8%,-5.2%
JetBlue Airways (B6),6K,-0.4%,24.0%,<1K,200.0%,inf%,6K,-0.3%,24.3%
Other,17K,-10.4%,-0.8%,<1K,334.2%,600.0%,17K,-9.7%,0.2%
Total,134K,-4.0%,-3.4%,23K,-8.2%,-13.6%,156K,-4.6%,-5.0%

In [13]:
df_source

,Net Tickets_Published,YoY_Published,YoY PW_Published,Net Tickets_Private,YoY_Private,YoY PW_Private,Net Tickets_Total,YoY_Total,YoY PW_Total
gds_booking_category,,,,,,,,,
Direct Connect,67K,-2.9%,-5.2%,12K,54.6%,51.2%,78K,2.9%,0.7%
Indirect Connect,63K,-8.5%,-6.7%,14K,-21.9%,-22.5%,77K,-11.3%,-10.1%
Phone Sales,,,,1K,2.4%,6.5%,1K,2.4%,6.5%
Total,129K,-5.7%,-5.9%,27K,0.8%,-0.3%,156K,-4.6%,-5.0%

# MOR

In [14]:
# Create df_mor
df_mor= pd.DataFrame()
df_mor['Net Tickets'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)& ((df_pricelince['merchant_of_record'] == 'VCC')|(df_pricelince['merchant_of_record'] == 'PCLN'))].groupby(['offer_method_code'])['net_tkts_cy'].sum().round(-1).astype(int)
df_mor['Net Tickets_cwly'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)& ((df_pricelince['merchant_of_record'] == 'VCC')|(df_pricelince['merchant_of_record'] == 'PCLN'))].groupby(['offer_method_code'])['net_tkts_ly'].sum().round(-1).astype(int)
df_mor['Net Tickets_PW'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)& ((df_pricelince['merchant_of_record'] == 'VCC')|(df_pricelince['merchant_of_record'] == 'PCLN'))].groupby(['offer_method_code'])['net_tkts_cy'].sum().round(-1).astype(int)
df_mor['Net Tickets_PWly'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)& ((df_pricelince['merchant_of_record'] == 'VCC')|(df_pricelince['merchant_of_record'] == 'PCLN'))].groupby(['offer_method_code'])['net_tkts_ly'].sum().round(-1).astype(int)


# Calculate YoY and YoY PW
df_mor.loc['Total','Net Tickets':'Net Tickets_PWly']=[df_mor['Net Tickets'].sum(),df_mor['Net Tickets_cwly'].sum(),df_mor['Net Tickets_PW'].sum(), df_mor['Net Tickets_PWly'].sum()]


# Create df_mor_1
df_mor_1= pd.DataFrame()
df_mor_1['Net Tickets'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)].groupby(['offer_method_code'])['net_tkts_cy'].sum().round(-1).astype(int)
df_mor_1['Net Tickets_cwly'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)].groupby(['offer_method_code'])['net_tkts_ly'].sum().round(-1).astype(int)
df_mor_1['Net Tickets_PW'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)].groupby(['offer_method_code'])['net_tkts_cy'].sum().round(-1).astype(int)
df_mor_1['Net Tickets_PWly'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)].groupby(['offer_method_code'])['net_tkts_ly'].sum().round(-1).astype(int)
# Calculate YoY and YoY PW
df_mor_1.loc['Total','Net Tickets':'Net Tickets_PWly']=[df_mor_1['Net Tickets'].sum(),df_mor_1['Net Tickets_cwly'].sum(),df_mor_1['Net Tickets_PW'].sum(), df_mor_1['Net Tickets_PWly'].sum()]

df_mor = pd.concat([df_mor,df_mor_1.add_suffix('_total')], axis=1)


df_mor['Actual']=(df_mor['Net Tickets']/df_mor['Net Tickets_total']*100).round(1).apply(format_percentage)
df_mor['%mor_ly']=(df_mor['Net Tickets_cwly']/df_mor['Net Tickets_cwly_total']*100).round().apply(format_percentage)
df_mor['YoY_bps']=(((df_mor['Net Tickets']/df_mor['Net Tickets_total']*100)-(df_mor['Net Tickets_cwly']/df_mor['Net Tickets_cwly_total']*100))*100).round()
df_mor['Actual_PW']=(df_mor['Net Tickets_PW']/df_mor['Net Tickets_PW_total']*100).round().apply(format_percentage)
df_mor['YoY_PW_bps']=(((df_mor['Net Tickets_PW']/df_mor['Net Tickets_PW_total']*100)-(df_mor['Net Tickets_PWly']/df_mor['Net Tickets_PWly_total']*100))*100).round()
df_mor['YoY_bps']=round_to_nearest_10(df_mor['YoY_bps'])
df_mor['YoY_PW_bps']=round_to_nearest_10(df_mor['YoY_PW_bps'])
df_mor=df_mor.loc[['Retail (Disclosed)', 'Total'],['Actual','YoY_bps','YoY_PW_bps']]
df_mor

                   Actual  YoY_bps  YoY_PW_bps
offer_method_code
Retail (Disclosed)  17.1%    830.0      1100.0
Total               26.8%    660.0       820.0

In [15]:
# Create df_mor
df_mor_2= pd.DataFrame()
df_mor_2['Net Tickets'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)].groupby(['us_travel_type'])['net_tkts_cy'].sum().astype(int)
df_mor_2['Net Tickets_cwly'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)].groupby(['us_travel_type'])['net_tkts_ly'].sum().astype(int)
df_mor_2['Net Tickets_PW'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)].groupby(['us_travel_type'])['net_tkts_cy'].sum().astype(int)
df_mor_2['Net Tickets_PWly'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)].groupby(['us_travel_type'])['net_tkts_ly'].sum().astype(int)
df_mor_2.loc['Total','Net Tickets':'Net Tickets_PWly']=[df_mor_2['Net Tickets'].sum(),df_mor_2['Net Tickets_cwly'].sum(),df_mor_2['Net Tickets_PW'].sum(), df_mor_2['Net Tickets_PWly'].sum()]
actual_cy=(df_mor_2.loc['US Outbound','Net Tickets']*100/df_mor_2.loc['Total','Net Tickets']).round()
actual_ly=df_mor_2.loc['US Outbound','Net Tickets_cwly']*100/df_mor_2.loc['Total','Net Tickets_cwly']
actual_PW=df_mor_2.loc['US Outbound','Net Tickets_PW']*100/df_mor_2.loc['Total','Net Tickets_PW']
actual_PWly=df_mor_2.loc['US Outbound','Net Tickets_PWly']*100/df_mor_2.loc['Total','Net Tickets_PWly']
df_mor.loc['US Outbound','Actual']=format_percentage(actual_cy)
df_mor.loc['US Outbound','YoY_bps']=round_to_nearest_10((actual_cy-actual_ly)*100)
df_mor.loc['US Outbound','YoY_PW_bps']=round_to_nearest_10((actual_PW-actual_PWly)*100)
new_index_order = ['US Outbound','Retail (Disclosed)','Total']
df_mor=df_mor.reindex(new_index_order).fillna('')
df_mor

                   Actual  YoY_bps  YoY_PW_bps
offer_method_code
US Outbound          8.0%    -60.0        20.0
Retail (Disclosed)  17.1%    830.0      1100.0
Total               26.8%    660.0       820.0

##  DAU / ROI

In [16]:

from dau_roi_table import calculate_dau_conversion
from dau_roi_table import calculate_roi
from dau_roi_table import create_roi_table

import importlib, dau_roi_table
importlib.reload(dau_roi_table)



# 1) Compute raw DAU/Conversion
df_dau_converison= calculate_dau_conversion(dau_conversion,format_percentage,end_date, pp_end_date, cwly_date, pwly_date)
df_dau_converison

# 2) Compute ROI
df_roi_section = calculate_roi(df_roi, end_date, pp_end_date, cwly_date, pwly_date)
df_roi_section


# # 3) Build the presentation table
df_roi_v = create_roi_table(df_roi_section,df_dau_converison,end_date, pp_end_date, cwly_date, pwly_date,format_number)
# df_roi_v['Conversion'] =df_roi_v['Conversion']*100.replace([np.inf, -np.inf], np.nan).round(1).map(lambda x: f"{x:.1f}%")

df_roi_v

/Users/sye/Library/CloudStorage/GoogleDrive-shiyun.ye@priceline.com/Shared drives/Business - Air/RM Analytics/ShiyunY/Work/Flight_Weekly_Note_Used/code/dau_roi_table.py:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_roi_section['DAU'] = df_roi_section['DAU'].apply(format_number)
/Users/sye/Library/CloudStorage/GoogleDrive-shiyun.ye@priceline.com/Shared drives/Business - Air/RM Analytics/ShiyunY/Work/Flight_Weekly_Note_Used/code/dau_roi_table.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_roi_section["ROI"] = df_roi_section["ROI"].apply(lambda x: "" if pd.isna(x) else f"{x:.2f}")

,DAU,YoY,YoY PW,Conversion,YoY,YoY PW,ROI,YoY,YoY PW
channel,,,,,,,,,
Direct,782K,-3.6%,-3.6%,0.057176,-10.3%,-11.2%,,,
SEM Core,465K,5.5%,-0.4%,0.040188,-10.9%,-9.8%,1.11,15.4%,10.2%
SEM Brand,134K,-7.5%,-6.7%,0.07197,-1.5%,-4.1%,6.67,21.5%,14.0%
Shop PPC Cheapflights,245K,-4.1%,0.5%,0.014369,-14.5%,-16.1%,0.99,-6.7%,-10.5%
Shop PPC Google,9K,-72.1%,-79.1%,0.132662,456.0%,328.0%,,,
Shop PPC Kayak,146K,214.0%,239.2%,0.017663,-45.5%,-58.9%,1.11,6.9%,-7.1%
Shop PPC Skyscanner,2K,50.7%,9.3%,0.195896,-7.0%,-1.1%,0.99,-28.2%,3.7%
Shop PPC Others,116K,22.6%,25.8%,0.025504,-41.9%,-41.1%,1.62,59.0%,29.3%
Affiliate,13K,67.1%,88.5%,0.169718,-4.7%,-9.2%,6.07,149.3%,116.5%
Total,1.9M,4.2%,3.8%,0.044908,-12.9%,-14.7%,1.45,11.9%,4.3%

## Parity data

In [17]:
from parity_table import create_parity_table

df_parity = create_parity_table(
        format_percentage,
        df_direct_parity,
        round_to_nearest_10,
        df_meta_parity)
df_parity

,Actual_pcln,YoY (bps)_pcln,YoY PW (bps)_pcln,Actual_expe,YoY (bps)_expe,YoY PW (bps)_expe
Direct vs Expedia,92.6%,-40.0,510.0,NaN,NaN,NaN
Kayak Placement,21.2%,910.0,720.0,19.7%,1040.0,980.0
Skyscanner Placement,33.7%,2510.0,2560.0,35.9%,-410.0,-760.0

## Deal Share

In [18]:
deal_ticket_actual_cy=df_deal_share[(df_deal_share['wk_ending']==end_date)].groupby('deal_vs_non_deal')['totalTkts'].sum()
deal_ticket_actual_cy=deal_ticket_actual_cy[0]/(deal_ticket_actual_cy[0]+deal_ticket_actual_cy[1])
# deal_ticket_actual_cy=format_percentage(deal_ticket_actual_cy*100)

deal_ticket_actual_cy

deal_ticket_actual_pw=df_deal_share[(df_deal_share['wk_ending']==pp_end_date)].groupby('deal_vs_non_deal')['totalTkts'].sum()
deal_ticket_actual_pw=deal_ticket_actual_pw[0]/(deal_ticket_actual_pw[0]+deal_ticket_actual_pw[1])
# deal_ticket_actual_pw=format_percentage(deal_ticket_actual_pw*100)
deal_ticket_actual_pw

deal_ticket_actual_cwly=df_deal_share[(df_deal_share['wk_ending']==cwly_date)].groupby('deal_vs_non_deal')['totalTkts'].sum()
deal_ticket_actual_cwly=deal_ticket_actual_cwly[0]/(deal_ticket_actual_cwly[0]+deal_ticket_actual_cwly[1])
# deal_ticket_actual_cwly=format_percentage(deal_ticket_actual_cwly*100)
deal_ticket_actual_cwly

deal_ticket_actual_pwly=df_deal_share[(df_deal_share['wk_ending']==pwly_date)].groupby('deal_vs_non_deal')['totalTkts'].sum()
deal_ticket_actual_pwly=deal_ticket_actual_pwly[0]/(deal_ticket_actual_pwly[0]+deal_ticket_actual_pwly[1])
# deal_ticket_actual_pwly=format_percentage(deal_ticket_actual_pwly*100)
deal_ticket_actual_cy,deal_ticket_actual_cwly,deal_ticket_actual_pw,deal_ticket_actual_pwly

/var/folders/k6/ygnww5yd0rx_9c55x7xb7xs00000gn/T/ipykernel_34443/404268113.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  deal_ticket_actual_cy=deal_ticket_actual_cy[0]/(deal_ticket_actual_cy[0]+deal_ticket_actual_cy[1])
/var/folders/k6/ygnww5yd0rx_9c55x7xb7xs00000gn/T/ipykernel_34443/404268113.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  deal_ticket_actual_pw=deal_ticket_actual_pw[0]/(deal_ticket_actual_pw[0]+deal_ticket_actual_pw[1])
/var/folders/k6/ygnww5yd0rx_9c55x7xb7xs00000gn/T/ipykernel_34443/404268113.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  deal_ticket_actual_cwly=deal_ticket_actual_cwly[0]/(deal_ticket_actual_cwly[0]+deal_ticket_actual_cwly[1])
/var/folders/k6/ygnww5yd0rx_9c55x7xb7xs00000gn/T/ipykernel_34443/404268113.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  deal_ticket_actual_pwly=deal_ticket_actual_pwly[0]/(deal_ticket_actual_pwly[0]+deal_ticket_actual_pwly[1])

(np.float64(0.3675707071904412),
 np.float64(0.3591192753765421),
 np.float64(0.3666950672378558),
 np.float64(0.3617229226674026))

## MIDT

In [19]:



# df_midt_data= pd.DataFrame()
# #Calulate actual
# a=df_midt[(df_midt['wk_ending']==end_date)].groupby(['agency'])['Tickets'].sum()['PRICELINE']
# b=df_midt[(df_midt['wk_ending']==end_date)]['Tickets'].sum()
# # Calculate the percentage
# Actual = ((a * 100) / b)


# #Calulate cwly_date
# a=df_midt[(df_midt['wk_ending']==cwly_date)].groupby(['agency'])['Tickets'].sum()['PRICELINE']
# b=df_midt[(df_midt['wk_ending']==cwly_date)]['Tickets'].sum()
# # Calculate the percentage
# Actual_cwly = ((a * 100) / b)

# #Calulate PWly_date
# a=df_midt[(df_midt['wk_ending']==pp_end_date)].groupby(['agency'])['Tickets'].sum()['PRICELINE']
# b=df_midt[(df_midt['wk_ending']==pp_end_date)]['Tickets'].sum()
# # Calculate the percentage
# actual_PW = ((a * 100) / b)

# #Calulate PWly_date
# a=df_midt[(df_midt['wk_ending']==PWly_date)].groupby(['agency'])['Tickets'].sum()['PRICELINE']
# b=df_midt[(df_midt['wk_ending']==PWly_date)]['Tickets'].sum()
# # Calculate the percentage
# actual_PWly = ((a * 100) / b)


# # Create a new DataFrame with the calculated 'Actual' column
# df_midt_data = pd.DataFrame()
# df_midt_data['Actual']=[format_percentage(Actual)]
# df_midt_data['YoY (bps)']=[round_to_nearest_10((Actual-Actual_cwly)*100)]
# df_midt_data['YoY PW(bps)']=[round_to_nearest_10((actual_PW-actual_PWly)*100)]
# df_midt_data
# # df_midt_data['Actual']

## SEM

In [20]:
# df_sem=df_sem[(df_sem['DOMAIN']=='You')|(df_sem['DOMAIN']=='expedia.com')]
# df_sem
# # Calculate actuals for current, cwly, pp, and pwly dates
# def compute_rate_ratio(df, date):
#     grouped = df[df['wk_ending'] == date].groupby('DOMAIN')[['ABS_TOP_PAGE_RATE_IMPRESSIONS', 'TOTAL_IMPRESSIONS']].sum()
#     grouped['RATE_RATIO'] = grouped['ABS_TOP_PAGE_RATE_IMPRESSIONS'] / grouped['TOTAL_IMPRESSIONS']
#     return grouped['RATE_RATIO']  # return only the RATE_RATIO series

# # Compute each set
# actual = compute_rate_ratio(df_sem, end_date)
# actual_cwly = compute_rate_ratio(df_sem, cwly_date)
# actual_pw = compute_rate_ratio(df_sem, pp_end_date)
# actual_pwly = compute_rate_ratio(df_sem, pwly_date)

# df_sem_data = pd.DataFrame({
#     'Actual': (actual*100).apply(format_percentage),
#     'YoY (bps)': round_to_nearest_10((actual - actual_cwly) * 10000),
#     'YoY PW(bps)': round_to_nearest_10((actual_pw - actual_pwly) * 10000)
# })

# df_sem_data.reset_index(inplace=True)  # optional, for clarity if you need DOMAIN as a column
# df_sem_data

# Summary Table

## YTD

In [21]:
from summary_table_apl import create_ytd_ly
from summary_table_apl import create_subsummary_table


create_ytd_ly= create_ytd_ly(df_weekly,end_date)

create_ytd_ly

# df_subsummary['YTD']=create_ytd_ly['YTD'].iloc[4:].apply(format_percentage).reset_index(drop=True)
# from summary_table_apl import create_subsummary_table

# df_subsummary = create_subsummary_table(df_pricelince,summary_table,df_pricelince_air,format_number)

# df_normalized

                    Measure          CY          LY       YTD
0               Net Tickets   8288300.0   8782695.0 -5.629195
1             Gross Tickets   8870298.0   9432463.0 -5.959896
2               Net Revenue  88886246.0  84848285.0  4.759036
3             Gross Revenue  97544444.0  92440583.0  5.521234
4    Normalized Net Tickets   7050440.0   7583709.0 -7.031770
5  Normalized Gross Tickets   7530518.0   8126264.0 -7.331118

In [22]:



import importlib

import summary_table_apl as summary_table_apl
from summary_table_apl import create_subsummary_table
importlib.reload(summary_table_apl)

df_subsummary = create_subsummary_table(df_pricelince,create_ytd_ly,df_pricelince_air,format_percentage,format_number)

df_subsummary

                            Actual Reporting Week Previous Week
net_tkts_cy                   194K          -2.0%         -2.1%
gr_tkts_cy                    206K          -2.1%         -3.9%
net_contribution_cy           1.9M          -2.4%         -6.6%
gross_contribution_cy         2.1M          -2.3%         -7.1%
normalized_net_tickets_cy     166K          -2.5%         -3.2%
normalized_gross_tickets_cy   176K          -2.7%         -5.0%

In [23]:
df_subsummary['YTD'] = create_ytd_ly['YTD'].reset_index(drop=True).apply(format_percentage).values
df_subsummary['YTD'][:-2]

net_tkts_cy              -5.6%
gr_tkts_cy               -6.0%
net_contribution_cy       4.8%
gross_contribution_cy     5.5%
Name: YTD, dtype: object

In [24]:
df_normalized=df_subsummary.tail(2)
df_normalized = (
    df_normalized
    .reset_index()                 
    .rename(columns={'index': 'Metric'})  
    .set_index('Metric')          
)

df_normalized

                            Actual Reporting Week Previous Week    YTD
Metric
normalized_net_tickets_cy     166K          -2.5%         -3.2%  -7.0%
normalized_gross_tickets_cy   176K          -2.7%         -5.0%  -7.3%

In [25]:

import summary_table_finance as summary_table_finance
import importlib

importlib.reload(summary_table_finance)
from summary_table_finance import create_plan_table

df_summary_upper= create_plan_table(df_finance,df_subsummary,format_percentage,format_number)
df_summary_upper['YTD'] = create_ytd_ly['YTD'].apply(format_percentage)


df_summary_upper=df_summary_upper.set_index('Metric')
df_normalized.index.name = 'Metric'
df_summary_upper

,Actual,Reporting Week,Previous Week,YTD,Reporting Week_pl,Previous Week_pl,YTD_pl
Metric,,,,,,,
net_tkts_cy,194K,-2.0%,-2.1%,-5.6%,-2.4%,-2.6%,-8.9%
gr_tkts_cy,206K,-2.1%,-3.9%,-6.0%,-3.2%,-4.0%,-9.4%
net_contribution_cy,2.2M,-6.9%,-11.2%,4.8%,11.3%,9.0%,1.4%
gross_contribution_cy,2.3M,-6.5%,-11.3%,5.5%,,,

In [26]:

df_normalized

                            Actual Reporting Week Previous Week    YTD
Metric
normalized_net_tickets_cy     166K          -2.5%         -3.2%  -7.0%
normalized_gross_tickets_cy   176K          -2.7%         -5.0%  -7.3%

In [27]:
df_summary=pd.concat([df_summary_upper, df_normalized]).fillna('')
df_summary

,Actual,Reporting Week,Previous Week,YTD,Reporting Week_pl,Previous Week_pl,YTD_pl
Metric,,,,,,,
net_tkts_cy,194K,-2.0%,-2.1%,-5.6%,-2.4%,-2.6%,-8.9%
gr_tkts_cy,206K,-2.1%,-3.9%,-6.0%,-3.2%,-4.0%,-9.4%
net_contribution_cy,2.2M,-6.9%,-11.2%,4.8%,11.3%,9.0%,1.4%
gross_contribution_cy,2.3M,-6.5%,-11.3%,5.5%,,,
normalized_net_tickets_cy,166K,-2.5%,-3.2%,-7.0%,,,
normalized_gross_tickets_cy,176K,-2.7%,-5.0%,-7.3%,,,

In [78]:
df_summary.loc['DAU','Actual']=0
df_summary.loc['DAU','Actual']=0
df_summary.loc['DAU','Reporting Week']=0
df_summary.loc['DAU','Previous Week']=0


df_summary.loc['TSA','Actual']=0
df_summary.loc['TSA','Actual']=0
df_summary.loc['TSA','Reporting Week']=0
df_summary.loc['TSA','Previous Week']=0


df_summary=df_summary.reset_index(names=['Metric'])
df_summary

,Metric,Actual,Reporting Week,Previous Week,YTD,Reporting Week_pl,Previous Week_pl,YTD_pl
0,net_tkts_cy,194K,-2.0%,-2.1%,-5.6%,-2.4%,-2.6%,-8.9%
1,gr_tkts_cy,206K,-2.1%,-3.9%,-6.0%,-3.2%,-4.0%,-9.4%
2,net_contribution_cy,2.2M,-6.9%,-11.2%,4.8%,11.3%,9.0%,1.4%
3,gross_contribution_cy,2.3M,-6.5%,-11.3%,5.5%,,,
4,normalized_net_tickets_cy,166K,-2.5%,-3.2%,-7.0%,,,
5,normalized_gross_tickets_cy,176K,-2.7%,-5.0%,-7.3%,,,
6,DAU,0,0,0,NaN,NaN,NaN,NaN
7,TSA,0,0,0,NaN,NaN,NaN,NaN

## TSA

In [71]:
tsa_cy=df_tsa[df_tsa['week_ending']==end_date]['tsa_passengers'].sum()
pcln_cy=df_tsa[df_tsa['week_ending']==end_date]['pcln_passengers'].sum()
tsa_cy=round((pcln_cy*100/tsa_cy),2)
tsa_cy


tsa_pw=df_tsa[df_tsa['week_ending']==pp_end_date]['tsa_passengers'].sum()
pcln_pw=df_tsa[df_tsa['week_ending']==pp_end_date]['pcln_passengers'].sum()
tsa_pw=round((pcln_pw*100/tsa_pw),2)
tsa_pw

tsa_cwly=df_tsa[df_tsa['week_ending']==cwly_date]['tsa_passengers'].sum()
pcln_cwly=df_tsa[df_tsa['week_ending']==cwly_date]['pcln_passengers'].sum()
tsa_cwly=round((pcln_cwly*100/tsa_cwly),2)
tsa_cwly


tsa_pwly=df_tsa[df_tsa['week_ending']==pwly_date]['tsa_passengers'].sum()
pcln_pwly=df_tsa[df_tsa['week_ending']==pwly_date]['pcln_passengers'].sum()
tsa_pwly=round((pcln_pwly*100/tsa_pwly),2)
tsa_pwly

tsa_ytd=df_tsa[df_tsa['week_ending'] >=end_date]['tsa_passengers'].sum()
pcln_ytd=df_tsa[df_tsa['week_ending']>=end_date]['pcln_passengers'].sum()
tsa_ytd=round((pcln_ytd*100/tsa_ytd),2)


# tsa_ytd_ly=df_tsa[(df_tsa['week_ending'] >=cwly_date)&(df_tsa['week_ending'] <"2025-01-01")]['tsa_passengers'].sum()
# pcln_ytd_ly=df_tsa[(df_tsa['week_ending']>=cwly_date)&(df_tsa['week_ending'] <"2025-01-01")]['pcln_passengers'].sum()
# tsa_ytd_ly=round((pcln_ytd_ly*100/tsa_ytd_ly),2)

tsa_ytd
tsa_cy,tsa_pw,tsa_cwly,tsa_pwly,tsa_ytd

(np.float64(1.45),
 np.float64(1.44),
 np.float64(1.5),
 np.float64(1.61),
 np.float64(1.44))

In [72]:
(end_date, start_date, pp_end_date, pp_start_date, cwly_date, pwly_date)

(datetime.date(2025, 10, 18),
 datetime.date(2025, 10, 12),
 datetime.date(2025, 10, 11),
 datetime.date(2025, 9, 28),
 datetime.date(2024, 10, 19),
 datetime.date(2024, 10, 12))

In [73]:
# from tsa_table import create_tsa_web_table
# df_tsa_web=create_tsa_web_table()
# df_tsa_web=df_tsa_web.dropna()

# import tsa_table
# import importlib

# importlib.reload(tsa_table)
# from tsa_table import create_df_tsa_table

# df_tsa=create_df_tsa_table(tsa_data,df_tsa_web,format_percentage,end_date,pp_end_date,cwly_date,pwly_date)
# df_tsa

In [ ]:
tsa_val = df_tsa.loc[df_tsa['week_ending']==(end_date), 'f0_'].iloc[-1] * 100
tsa = f"{round(val, 2)}%"

tsa_yoy = (df_tsa[df_tsa['week_ending']==end_date].iloc[-1,1]-df_tsa[df_tsa['week_ending']==cwly_date].iloc[-1,1])*100
tsa_yoy = f"{round(tsa_yoy, 2)}%"

tsa_yoy_pw = (df_tsa[df_tsa['week_ending']==pp_end_date].iloc[-1,1]-df_tsa[df_tsa['week_ending']==pwly_date].iloc[-1,1])*100
tsa_yoy_pw = f"{round(tsa_yoy_pw, 2)}%"

tsa,tsa_yoy,tsa_yoy_pw

In [ ]:
df_upsell

## Upsell

In [75]:
# df_upsell
# upsell_cy=df_upsell[(df_upsell['week_ending']==end_date)]['upsell_tickets'].sum()
# select_cy=df_upsell[(df_upsell['week_ending']==end_date)]['Selected_tickets'].sum()
upsell_rate_cy=df_upsell[(df_upsell['week_ending']==end_date)][['upsell_rate']].values[0][0]


# upsell_pw=df_upsell[(df_upsell['week_ending']==pp_end_date)]['upsell_tickets'].sum()
# select_pw=df_upsell[(df_upsell['week_ending']==pp_end_date)]['Selected_tickets'].sum()
upsell_rate_pw=df_upsell[(df_upsell['week_ending']==pp_end_date)][['upsell_rate']].values[0][0]



# upsell_cwly=df_upsell[(df_upsell['week_ending']==cwly_date)]['upsell_tickets'].sum()
# select_cwly=df_upsell[(df_upsell['week_ending']==cwly_date)]['Selected_tickets'].sum()
upsell_rate_cwly=df_upsell[(df_upsell['week_ending']==cwly_date)][['upsell_rate']].values[0][0]


# upsell_pwly=df_upsell[(df_upsell['week_ending']==pwly_date)]['upsell_tickets'].sum()
# select_pwly=df_upsell[(df_upsell['week_ending']==pwly_date)]['Selected_tickets'].sum()
upsell_rate_pwly=df_upsell[(df_upsell['week_ending']==pwly_date)][['upsell_rate']].values[0][0]

upsell_rate_cy,upsell_rate_pw,upsell_rate_cwly,upsell_rate_pwly

(np.float64(0.15814845132898153),
 np.float64(0.15253798221662115),
 np.float64(0.1077523970483535),
 np.float64(0.10891605735761323))

In [ ]:
df_roi_v

In [76]:
df_others = pd.DataFrame()

# Deal Share
df_others.loc['Deal Share','Actual_pcln'] = format_percentage(deal_ticket_actual_cy * 100)
df_others.loc['Deal Share','YoY (bps)_pcln'] = round_to_nearest_10((deal_ticket_actual_cy - deal_ticket_actual_cwly) * 10000)
df_others.loc['Deal Share','YoY PW (bps)_pcln'] = round_to_nearest_10((deal_ticket_actual_pw - deal_ticket_actual_pwly) * 10000)

# Upsell
df_others.loc['Upsell','Actual_pcln'] = format_percentage(upsell_rate_cy*100)
df_others.loc['Upsell','YoY (bps)_pcln'] = round_to_nearest_10((upsell_rate_cy - upsell_rate_cwly)*10000)
df_others.loc['Upsell','YoY PW (bps)_pcln'] = round_to_nearest_10((upsell_rate_pw - upsell_rate_pwly)*10000)

# Conversion
df_others.loc['Conversion','Actual_pcln'] =  str(round((df_roi_v.iloc[-1, 3])*100,1))+'%'

df_others.loc['Conversion','YoY (bps)_pcln'] = round_to_nearest_10((df_dau_converison['conversion']-df_dau_converison['conversion_cwly'])* 10000)['Total']
df_others.loc['Conversion','YoY PW (bps)_pcln'] = round_to_nearest_10((df_dau_converison['conversion_pw']-df_dau_converison['conversion_pwly'])* 10000)['Total']


# df_others.loc['MIDT','Actual_pcln']=df_midt_data.loc[0,'Actual']
# df_others.loc['MIDT','YoY (bps)_pcln']=df_midt_data.loc[0,'YoY (bps)']
# df_others.loc['MIDT','YoY PW (bps)_pcln']=df_midt_data.loc[0,'YoY PW(bps)']

# df_others.loc['SEM Impressions','Actual_pcln']=df_sem_data.loc[0,'Actual']
# df_others.loc['SEM Impressions','YoY (bps)_pcln']=df_sem_data.loc[0,'YoY (bps)']
# df_others.loc['SEM Impressions','YoY PW (bps)_pcln']=df_sem_data.loc[0,'YoY PW(bps)']

# df_others.loc['SEM Impressions','Actual_expe']=df_sem_data.loc[1,'Actual']
# df_others.loc['SEM Impressions','YoY (bps)_expe']=df_sem_data.loc[1,'YoY (bps)']
# df_others.loc['SEM Impressions','YoY PW (bps)_expe']=df_sem_data.loc[1,'YoY PW(bps)']

# US Outbound & Merchant
df_others.loc['US Outbound','Actual_pcln'] = df_mor.loc['US Outbound','Actual']
df_others.loc['US Outbound','YoY (bps)_pcln'] = df_mor.loc['US Outbound','YoY_bps']
df_others.loc['US Outbound','YoY PW (bps)_pcln'] = df_mor.loc['US Outbound','YoY_PW_bps']

df_others.loc['Merchant Retail','Actual_pcln'] = df_mor.loc['Retail (Disclosed)','Actual']
df_others.loc['Merchant Retail','YoY (bps)_pcln'] = df_mor.loc['Retail (Disclosed)','YoY_bps']
df_others.loc['Merchant Retail','YoY PW (bps)_pcln'] = df_mor.loc['Retail (Disclosed)','YoY_PW_bps']

df_others.loc['Merchant Total','Actual_pcln'] = df_mor.loc['Total','Actual']
df_others.loc['Merchant Total','YoY (bps)_pcln'] = df_mor.loc['Total','YoY_bps']
df_others.loc['Merchant Total','YoY PW (bps)_pcln'] = df_mor.loc['Total','YoY_PW_bps']

# Parity
df_others = pd.concat([df_others, df_parity.iloc[0:]])

# Reorder index
new_index_order = [
    'ARC-PCLN','ARC-Agoda','ARC-B.com','ARC-BHI'
    ,'MIDT'
    ,'SEM Impressions',
    'Direct vs Expedia','Kayak Placement','Skyscanner Placement',
    'US Outbound','Merchant Retail','Merchant Total',
    'Deal Share','Upsell','Conversion','Bookability'
]

df_others = df_others.reindex(new_index_order).fillna('')
df_others

,Actual_pcln,YoY (bps)_pcln,YoY PW (bps)_pcln,Actual_expe,YoY (bps)_expe,YoY PW (bps)_expe
ARC-PCLN,,,,,,
ARC-Agoda,,,,,,
ARC-B.com,,,,,,
ARC-BHI,,,,,,
MIDT,,,,,,
SEM Impressions,,,,,,
Direct vs Expedia,92.6%,-40.0,510.0,,,
Kayak Placement,21.2%,910.0,720.0,19.7%,1040.0,980.0
Skyscanner Placement,33.7%,2510.0,2560.0,35.9%,-410.0,-760.0
US Outbound,8.0%,-60.0,20.0,,,
Merchant Retail,17.1%,830.0,1100.0,,,
Merchant Total,26.8%,660.0,820.0,,,
Deal Share,36.8%,80.0,50.0,,,
Upsell,15.8%,500.0,440.0,,,
Conversion,4.5%,-70.0,-80.0,,,
Bookability,,,,,,

In [ ]:
df_roi_v['Conversion']=round(df_roi_v['Conversion']*100,1).map(lambda x: f"{x:.1f}%")
df_roi_v

In [ ]:

import config_table
import importlib

importlib.reload(config_table)
from docx import Document
from docx.oxml.ns import qn
from docx.oxml import OxmlElement
from docx.shared import Pt
from config_table import clear_document
from config_table import set_font
from config_table import create_word_table
from config_table import create_summary_table
from config_table import create_others_table
# from config_table import create_dau_table
from config_table import create_roi_table


# Data preparation and configurations
carrier_logos = [
    {'start_col': 1, 'end_col': 3, 'path': '../Screenshots/weeklynote/Retail.png', 'title': 'Retail'},
    {'start_col': 4, 'end_col': 6, 'path': '../Screenshots/weeklynote/Express.png', 'title': 'Express Deals'},
    {'start_col': 7, 'end_col': 9, 'path': '../Screenshots/weeklynote/Total.png', 'title': 'Total'}
]

business_logos = [
    {'start_col': 1, 'end_col': 3, 'path': '../Screenshots/weeklynote/Standalone.png', 'title': 'Standalone'},
    {'start_col': 4, 'end_col': 6, 'path': '../Screenshots/weeklynote/Package.png', 'title': 'Package'},
    {'start_col': 7, 'end_col': 9, 'path': '../Screenshots/weeklynote/Total.png', 'title': 'Total'}
]

channel_logos = [
    {'start_col': 1, 'end_col': 3, 'path': '../Screenshots/weeklynote/App.png', 'title': 'App'},
    {'start_col': 4, 'end_col': 6, 'path': '../Screenshots/weeklynote/MWeb Desktop.png', 'title': 'Web'},
    {'start_col': 7, 'end_col': 9, 'path': '../Screenshots/weeklynote/Total.png', 'title': 'Total'}
]

source_logos = [
    {'start_col': 1, 'end_col': 3, 'path': '../Screenshots/weeklynote/Published.png', 'title': 'Published'},
    {'start_col': 4, 'end_col': 6, 'path': '../Screenshots/weeklynote/Private.png', 'title': 'Private'},
    {'start_col': 7, 'end_col': 9, 'path': '../Screenshots/weeklynote/Total.png', 'title': 'Total'}
]

def customize_bullet_style(paragraph, font_size):
    """
    Customize bullet style in a paragraph using XML manipulation.
    """
    # Access the paragraph's properties
    pPr = paragraph._element.get_or_add_pPr()
    numPr = OxmlElement('w:numPr')
    ilvl = OxmlElement('w:ilvl')
    ilvl.set(qn('w:val'), '0')  # Set indentation level
    numId = OxmlElement('w:numId')
    numId.set(qn('w:val'), '1')  # Set numbering ID

    numPr.append(ilvl)
    numPr.append(numId)
    pPr.append(numPr)

    # Modify font properties
    for run in paragraph.runs:
        run.font.name = "Montserrat"
        run.font.size = font_size

# Create a Word Document
word_document = Document()

# Clear the document (if necessary)
clear_document(word_document)

# Add Title
word_document.add_paragraph()
word_document.add_paragraph(f'Summary')
set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(18), bold=True)
word_document.add_paragraph('\n')

# Create Summary Table
create_summary_table(word_document, df_summary)

# Add General Notes
summary_notes = [
    'All Priceline tickets (includes B2B, Package, Express Deals, Phone Sales)',
    'Normalized tickets are counted the same as tickets, except split tickets count as 1 instead of 2',
    'Refunds are assigned to refund date',
    'Revenue is contribution w/fee + GDS incentives.  Does not include package or phone sales.',
    'Daily Active Users: engaged customers in GA4',
    'TSA market share: travel date; numerator counts all slices (OW is 1 slice; RT is 2 slices) where the first segment is either US domestic or US outbound (Priceline-only); denominator includes all people passing through TSA screening machines'
]
for note in summary_notes:
    word_document.add_paragraph(note, style='List Bullet')
    set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(7), bold=False)
    customize_bullet_style(word_document.paragraphs[-1], font_size=Pt(7))

# Add Tables for Business, Carrier, Channel, and Source
tables = [
    (df_business, "Business", business_logos, [
        'All Priceline tickets (includes Express Deals and Phone Sales, not normalized)'
    ]),
    (df_carrier, "Carrier", carrier_logos, [
        'Priceline (including phone sales), B2C, Standalone (not normalized)'
    ]),
    (df_channel, "Channel", channel_logos, [
        'Priceline (including phone sales), B2C, Standalone (includes Express Deals, not normalized)'
    ]),
    (df_source, "Source", source_logos, [
        'Priceline (including phone sales), B2C, Standalone (includes Express Deals, not normalized)',
        'Indirect Connect = GDS + Aggregators + Consolidators + NDC-X'
    ])
]
for df, title, logos, notes in tables:
    if df is None:
        continue

   # Add specific custom notes for each table
    if title == "Business":
        custom_note = "Total Business - Detail"
    elif title == "Carrier":
        custom_note = "Priceline B2C Standalone - Detail"
    else:
        custom_note = " "

    # Add the custom note before the table
    word_document.add_paragraph(custom_note)
    set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(18), bold=True)
    word_document.add_paragraph()

    create_word_table(df, title, logos, word_document)

    # word_document.add_paragraph()

    for note in notes:
        word_document.add_paragraph(note, style='List Bullet')
        # word_document.add_paragraph('\n')
        set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(7), bold=False)

word_document.add_paragraph('\n')
word_document.add_paragraph('Other Metrics')
set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(18), bold=True)
create_others_table(word_document, df_others)

others_notes = [
    'ARC market share: OTA only, US POS, does not include NK/F9/SY',
    'SEM impression share: percentage of eligible impressions we show at the absolute top of the ads',
    'Direct parity vs Expedia: US origins, win+tie rate',
    'Kayak placement: US origins, availability in the top 4 positions',
    'Skyscanner placement: US origins, availability in the top 4 positions',
    'US outbound share: ticket share for US origins, international destinations',
    'Merchant share: ticket share where Priceline is merchant of record',
    'Deal share: share of tickets sold as a deal',
    'Conversion: GA4, converted customers / engaged customers',
    'Bookability: acceptance rate, includes multiple attempts by same user'

]
for note in others_notes:
    word_document.add_paragraph(note, style='List Bullet')
    set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(7), bold=False)
word_document.add_paragraph('\n')

word_document.add_paragraph(f'ROI')
set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(18), bold=True)

# Add ROI Section
# roi_notes = [
#     'ROI = Contribution / Cost',
#     'SEM Brand includes all products, weighted by ratio of flight orders',
#     'Meta includes Kayak/Momondo, includes Kayak credit',
#     'Last week'
# ]
create_roi_table(word_document, df_roi_v)

for note in notes:
        word_document.add_paragraph(note, style='List Bullet')
        set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(7), bold=False)
word_document.add_paragraph('\n')


# Save the Document
output_filename = os.path.join('../output/', f'Flight Performance Week Ending {end_date}.docx')
word_document.save(output_filename)
print(f"Word document '{output_filename}' has been created successfully.")

# Save PDF to Shared Drive
share_drive_path = '../../../Flight Weekly Note Output/'
word_document.save(share_drive_path + f'Flight Performance Week Ending {end_date}.pdf')

print(f"Word document saved to shared drive at '{share_drive_path}' has been created successfully.")