In [1]:
#import library 
from pandas_gbq import read_gbq
import pandas as pd
import numpy as np
import os
import datetime
import ssl
import logging

/Users/sye/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:

current_path = os.getcwd()
parent_path = os.path.dirname(current_path)

## TIME 
timeframe = 'Weekly'
today = datetime.date.today()
if timeframe == 'Weekly':
    idx = (today.weekday() + 1) % 7
    days_back = 6
    end_date = (today - datetime.timedelta(7+idx-6)).strftime("%d-%b-%Y")
elif timeframe == 'Monthly':
    end_date = (today.replace(day=1) - datetime.timedelta(days=1)).strftime("%d-%b-%Y")


curr_day = today.strftime("%d-%b-%Y")

# GET START AND END DATES FOR LAST 2 WEEKS
today = datetime.date.today()
idx = (today.weekday() + 1) % 7
        
days_back = 6
pp_days_back = 13

#cy end_date
end_date = (today - datetime.timedelta(7+idx-6))#.strftime("%Y-%m-%d")
start_date = (today - datetime.timedelta(7+idx-6+days_back))#.strftime("%Y-%m-%d")


pp_end_date = (today - datetime.timedelta(7+idx-6+days_back + 1))#.strftime("%Y-%m-%d")
pp_start_date = (today - datetime.timedelta(7+idx-6+pp_days_back))#.strftime("%Y-%m-%d")

In [3]:
from custom_query import read_sql_query, sql_files

# Read SQL queries from files
queries = {key: read_sql_query(path) for key, path in sql_files.items()}

# Execute queries if all were successfully reada
if all(queries.values()):
    try:
        df_weekly_note = read_gbq(queries["weekly_note"], project_id='pcln-pl-airanalytics-prod')
        financa_plan = read_gbq(queries["finance_plan"], project_id='pcln-pl-airanalytics-prod')
        deal_share = read_gbq(queries["deal_share"], project_id='pcln-pl-airanalytics-prod')
        tsa_data = read_gbq(queries["tsa_data"], project_id='pcln-pl-airanalytics-prod')
        direct_parity_data = read_gbq(queries["direct_parity_data"], project_id='pcln-pl-airanalytics-prod')
        meta_parity_data = read_gbq(queries["meta_parity_data_query"], project_id='pcln-pl-airanalytics-prod')
        bookability_data = read_gbq(queries["bookability_query"], project_id='pcln-pl-airanalytics-prod')
        roi_data = read_gbq(queries["roi_query"], project_id='pcln-pl-airanalytics-prod')
        dau_data = read_gbq(queries["dau_query"], project_id='pcln-pl-airanalytics-prod')
        print("SQL queries executed successfully.")
    except Exception as e:
        print(f"Failed to execute SQL queries: {e}")

Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
Downloading: 100%|██████████|
SQL queries executed successfully.

In [4]:
# make a copy of every data set 
df_finance_plan=financa_plan.copy()
df_direct_parity=direct_parity_data.copy()
df_meta_parity = meta_parity_data.copy()
roi=roi_data.copy()
dau=dau_data.copy()
df_deal_share=deal_share.copy()
df_bookability=bookability_data.copy()
df_weekly=df_weekly_note.copy()
df_weekly.columns = df_weekly.columns.str.lower()

In [5]:
# base_dir = '../../data_file/'

# # Saving
# df_finance_plan.to_csv(f'{base_dir}finance_plan.csv', index=False)
# df_direct_parity.to_csv(f'{base_dir}direct_parity.csv', index=False)
# df_meta_parity.to_csv(f'{base_dir}meta_parity.csv', index=False)
# roi.to_csv(f'{base_dir}roi.csv', index=False)
# dau.to_csv(f'{base_dir}dau.csv', index=False)
# df_deal_share.to_csv(f'{base_dir}deal_share.csv', index=False)
# df_bookability.to_csv(f'{base_dir}bookability.csv', index=False)
# df_weekly.to_csv(f'{base_dir}weekly.csv', index=False)

In [6]:
# base_dir = '../../data_file/'

# # # Reading
# df_finance_plan = pd.read_csv(f'{base_dir}finance_plan.csv')
# base_dir = '../../data_file/'
# df_direct_parity = pd.read_csv(f'{base_dir}direct_parity.csv')
# df_weekly = pd.read_csv(f'{base_dir}weekly.csv')
# df_meta_parity = pd.read_csv(f'{base_dir}meta_parity.csv')
# roi = pd.read_csv(f'{base_dir}roi.csv')
# dau = pd.read_csv(f'{base_dir}dau.csv')
# df_deal_share = pd.read_csv(f'{base_dir}deal_share.csv')
# df_bookability = pd.read_csv(f'{base_dir}bookability.csv')
# df_weekly = pd.read_csv(f'{base_dir}weekly.csv')

In [7]:
df_weekly

,wk_starting,wk_ending,trip_direction,company,brand,product,carrier_detail,carrier,offer_method_code,source,...,yoy_normalized_gross_tickets,normalized_net_tickets_ly,normalized_net_tickets_cy,yoy_normalized_net_tickets,gross_contribution_ly,gross_contribution_cy,yoy_gross_contribution,net_contribution_ly,net_contribution_cy,yoy_net_contribution
0,2025-02-02,2025-02-08,Non_US International,Agoda,Agoda,Flights Only,None,Other,Retail (Disclosed),Affiliate,...,0.0,0.0,-2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2025-02-02,2025-02-08,Non_US International,Agoda,Agoda,Flights Only,9 Air (AQ),Other,Retail (Disclosed),Affiliate,...,-6.0,0.0,6.0,-6.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2025-02-02,2025-02-08,Non_US International,Agoda,Agoda,Flights Only,9 Air (AQ),Other,Retail (Disclosed),Affiliate,...,-2.0,0.0,2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2025-02-02,2025-02-08,Non_US International,Agoda,Agoda,Flights Only,9 Air (AQ),Other,Retail (Disclosed),Affiliate,...,-6.0,0.0,6.0,-6.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2025-02-02,2025-02-08,Non_US International,Agoda,Agoda,Flights Only,9 Air (AQ),Other,Retail (Disclosed),Affiliate,...,-3.0,1.0,4.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40510,2025-02-09,2025-02-15,X,Priceline B2C,Priceline,Packages,None,Other,Retail (Disclosed),Shop PPC,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40511,2025-02-09,2025-02-15,X,Priceline B2C,Priceline,Packages,None,Other,Retail (Disclosed),Shop PPC,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40512,2025-02-09,2025-02-15,X,Priceline B2C,Priceline,Packages,None,Other,Retail (Disclosed),Shop PPC,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40513,2025-02-09,2025-02-15,X,Priceline B2C,Priceline,Packages,None,Other,Retail (Disclosed),Shop PPC,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40514,2025-02-09,2025-02-15,X,Priceline B2C,Priceline,Packages,None,Other,Retail (Disclosed),Shop PPC,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df_finance_plan

,Period,Period_End,scenario,Gross_Units,Net_Units,gross_cont_revenue,net_cont_revenue
0,1.Reporting Week,2025-02-15,ACTUALS,1.839620e+05,1.700650e+05,1.972795e+06,1.780952e+06
1,1.Reporting Week,2025-02-15,PY ACTUALS,1.896640e+05,1.762260e+05,1.750495e+06,1.584410e+06
2,1.Reporting Week,2025-02-15,Z-Plan,2.092465e+05,1.939729e+05,1.592355e+06,1.533728e+06
3,2.Previous Week,2025-02-08,ACTUALS,1.934020e+05,1.789930e+05,2.013036e+06,1.803675e+06
4,2.Previous Week,2025-02-08,PY ACTUALS,1.852170e+05,1.713270e+05,1.714476e+06,1.557568e+06
5,2.Previous Week,2025-02-08,Z-Plan,2.112971e+05,1.957709e+05,1.616786e+06,1.564679e+06
6,3.MTD,2025-02-15,ACTUALS,4.011380e+05,3.710960e+05,4.218870e+06,3.794450e+06
7,3.MTD,2025-02-15,PY ACTUALS,3.972190e+05,3.682630e+05,3.701300e+06,3.358545e+06
8,3.MTD,2025-02-15,Z-Plan,4.446710e+05,4.121839e+05,3.409697e+06,3.293820e+06
9,4.QTD,2025-02-15,ACTUALS,1.287369e+06,1.196864e+06,1.485695e+07,1.350261e+07
10,4.QTD,2025-02-15,PY ACTUALS,1.265935e+06,1.169348e+06,1.266869e+07,1.150097e+07
11,4.QTD,2025-02-15,Z-Plan,1.377606e+06,1.279087e+06,1.088276e+07,1.049971e+07
12,5.YTD,2025-02-15,ACTUALS,1.287369e+06,1.196864e+06,1.485695e+07,1.350261e+07
13,5.YTD,2025-02-15,PY ACTUALS,1.265935e+06,1.169348e+06,1.266869e+07,1.150097e+07
14,5.YTD,2025-02-15,Z-Plan,1.377606e+06,1.279087e+06,1.088276e+07,1.049971e+07

In [9]:
df_updated = df_finance_plan[['Gross_Units', 'Net_Units', 'gross_cont_revenue', 'net_cont_revenue']].astype({
    'Gross_Units': 'int',
    'Net_Units': 'int',
    'gross_cont_revenue': 'int',
    'net_cont_revenue': 'int'
})

# If you need to keep the rest of the DataFrame unchanged, you can join the other columns back
df_finance = df_finance_plan.drop(['Gross_Units', 'Net_Units', 'gross_cont_revenue', 'net_cont_revenue'], axis=1).join(df_updated)
df_finance

,Period,Period_End,scenario,Gross_Units,Net_Units,gross_cont_revenue,net_cont_revenue
0,1.Reporting Week,2025-02-15,ACTUALS,183962,170065,1972794,1780951
1,1.Reporting Week,2025-02-15,PY ACTUALS,189664,176226,1750494,1584410
2,1.Reporting Week,2025-02-15,Z-Plan,209246,193972,1592354,1533727
3,2.Previous Week,2025-02-08,ACTUALS,193402,178993,2013036,1803675
4,2.Previous Week,2025-02-08,PY ACTUALS,185217,171327,1714476,1557568
5,2.Previous Week,2025-02-08,Z-Plan,211297,195770,1616786,1564679
6,3.MTD,2025-02-15,ACTUALS,401138,371096,4218869,3794449
7,3.MTD,2025-02-15,PY ACTUALS,397219,368263,3701299,3358544
8,3.MTD,2025-02-15,Z-Plan,444671,412183,3409696,3293820
9,4.QTD,2025-02-15,ACTUALS,1287369,1196864,14856947,13502610
10,4.QTD,2025-02-15,PY ACTUALS,1265935,1169348,12668690,11500968
11,4.QTD,2025-02-15,Z-Plan,1377606,1279086,10882758,10499706
12,5.YTD,2025-02-15,ACTUALS,1287369,1196864,14856947,13502610
13,5.YTD,2025-02-15,PY ACTUALS,1265935,1169348,12668690,11500968
14,5.YTD,2025-02-15,Z-Plan,1377606,1279086,10882758,10499706

In [10]:

def format_number(num):
    if pd.isna(num):
        return ''
    if abs(num) >= 1e6:
        return f"{num/1e6:.1f}M"
    elif abs(num) >= 1e3:
        return f"{num/1e3:.0f}K"
    elif abs(num) < 1e3:
        return "<1K"
    return f"{num:.0f}"

def format_percentage(num):
    if pd.isna(num):
        return ''
    return f"{num:.1f}%"

def round_to_nearest_10(num):
  return round(num / 10) * 10

df_pricelince=df_weekly[(df_weekly['brand']== 'Priceline')]
df_pricelince_b2c=df_weekly[(df_weekly['brand']== 'Priceline')&(df_weekly['company']== 'Priceline B2C')]
df_pricelince_b2c_standalone=df_weekly[(df_weekly['brand']== 'Priceline')&(df_weekly['company']== 'Priceline B2C')&(df_weekly['product']== 'Flights Only')]

In [11]:
import pandas as pd


# Calculate the percentages
def calculate_percentage(current, previous):
    return (((current - previous) / previous) * 100).round(1)

# Reporting Week
reporting_week_actuals = df_finance[df_finance['Period'] == '1.Reporting Week'].iloc[0]
reporting_week_plan = df_finance[df_finance['Period'] == '1.Reporting Week'].iloc[2]

# Previous Week
previous_week_actuals = df_finance[df_finance['Period'] == '2.Previous Week'].iloc[0]
previous_week_plan = df_finance[df_finance['Period'] == '2.Previous Week'].iloc[2]

# MTD
mtd_actuals = df_finance[df_finance['Period'] == '3.MTD'].iloc[0]
mtd_plan = df_finance[df_finance['Period'] == '3.MTD'].iloc[2]


qtd_actuals = df_finance[df_finance['Period'] == '4.QTD'].iloc[0]
qtd_plan = df_finance[df_finance['Period'] == '4.QTD'].iloc[2]

ytd_actuals = df_finance[df_finance['Period'] == '5.YTD'].iloc[0]
ytd_plan = df_finance[df_finance['Period'] == '5.YTD'].iloc[2]

# Calculate metrics
finance_plan_data = {
    'Metric': ['net_tkts_cy', 'gr_tkts_cy', 'net_contribution_cy', 'gross_contribution_cy'],
    'Reporting Week': [
        calculate_percentage(reporting_week_actuals['Net_Units'], reporting_week_plan['Net_Units']),
        calculate_percentage(reporting_week_actuals['Gross_Units'], reporting_week_plan['Gross_Units']),
        calculate_percentage(reporting_week_actuals['net_cont_revenue'], reporting_week_plan['net_cont_revenue']),
        calculate_percentage(reporting_week_actuals['gross_cont_revenue'], reporting_week_plan['gross_cont_revenue'])
    ],
    'Previous Week': [
        calculate_percentage(previous_week_actuals['Net_Units'], previous_week_plan['Net_Units']),
        calculate_percentage(previous_week_actuals['Gross_Units'], previous_week_plan['Gross_Units']),
        calculate_percentage(previous_week_actuals['net_cont_revenue'], previous_week_plan['net_cont_revenue']),
        calculate_percentage(previous_week_actuals['gross_cont_revenue'], previous_week_plan['gross_cont_revenue'])
    ],
    'MTD': [
        calculate_percentage(mtd_actuals['Net_Units'], mtd_plan['Net_Units']),
        calculate_percentage(mtd_actuals['Gross_Units'], mtd_plan['Gross_Units']),
        calculate_percentage(mtd_actuals['net_cont_revenue'], mtd_plan['net_cont_revenue']),
        calculate_percentage(mtd_actuals['gross_cont_revenue'], mtd_plan['gross_cont_revenue'])
    ],
    'QTD': [
        calculate_percentage(qtd_actuals['Net_Units'], qtd_plan['Net_Units']),
        calculate_percentage(qtd_actuals['Gross_Units'], qtd_plan['Gross_Units']),
        calculate_percentage(qtd_actuals['net_cont_revenue'], qtd_plan['net_cont_revenue']),
        calculate_percentage(qtd_actuals['gross_cont_revenue'], qtd_plan['gross_cont_revenue'])
    ],
    'YTD': [
        calculate_percentage(ytd_actuals['Net_Units'], ytd_plan['Net_Units']),
        calculate_percentage(ytd_actuals['Gross_Units'], ytd_plan['Gross_Units']),
        calculate_percentage(ytd_actuals['net_cont_revenue'], ytd_plan['net_cont_revenue']),
        calculate_percentage(ytd_actuals['gross_cont_revenue'], ytd_plan['gross_cont_revenue'])
    ]
}

df_finance_plan = pd.DataFrame(finance_plan_data)
df_finance_plan['Reporting Week']=df_finance_plan['Reporting Week'].apply(format_percentage)
df_finance_plan['Previous Week']=df_finance_plan['Previous Week'].apply(format_percentage)
df_finance_plan['MTD']=df_finance_plan['MTD'].apply(format_percentage)
df_finance_plan['QTD']=df_finance_plan['QTD'].apply(format_percentage)
df_finance_plan['YTD']=df_finance_plan['YTD'].apply(format_percentage)
df_finance_plan

                  Metric Reporting Week Previous Week     MTD    QTD    YTD
0            net_tkts_cy         -12.3%         -8.6%  -10.0%  -6.4%  -6.4%
1             gr_tkts_cy         -12.1%         -8.5%   -9.8%  -6.6%  -6.6%
2    net_contribution_cy          16.1%         15.3%   15.2%  28.6%  28.6%
3  gross_contribution_cy          23.9%         24.5%   23.7%  36.5%  36.5%

In [12]:
df_finance_plan=df_finance_plan.set_index('Metric')
df_finance_plan

                      Reporting Week Previous Week     MTD    QTD    YTD
Metric
net_tkts_cy                   -12.3%         -8.6%  -10.0%  -6.4%  -6.4%
gr_tkts_cy                    -12.1%         -8.5%   -9.8%  -6.6%  -6.6%
net_contribution_cy            16.1%         15.3%   15.2%  28.6%  28.6%
gross_contribution_cy          23.9%         24.5%   23.7%  36.5%  36.5%

In [13]:

from summary_table import create_summary_table

df_summary = create_summary_table(df_pricelince,format_number)
df_summary

                            Actual Reporting Week Previous Week
net_tkts_cy                   170K          -3.4%          4.6%
gr_tkts_cy                    184K          -2.8%          4.6%
net_contribution_cy           1.8M          12.4%         15.8%
gross_contribution_cy         2.0M          12.7%         17.4%
normalized_net_tickets_cy     146K          -4.0%          4.6%
normalized_gross_tickets_cy   158K          -3.6%          4.8%

In [14]:
df_summary=pd.concat([df_summary, df_finance_plan], axis=1).fillna('')
df_summary

,Actual,Reporting Week,Previous Week,Reporting Week,Previous Week,MTD,QTD,YTD
net_tkts_cy,170K,-3.4%,4.6%,-12.3%,-8.6%,-10.0%,-6.4%,-6.4%
gr_tkts_cy,184K,-2.8%,4.6%,-12.1%,-8.5%,-9.8%,-6.6%,-6.6%
net_contribution_cy,1.8M,12.4%,15.8%,16.1%,15.3%,15.2%,28.6%,28.6%
gross_contribution_cy,2.0M,12.7%,17.4%,23.9%,24.5%,23.7%,36.5%,36.5%
normalized_net_tickets_cy,146K,-4.0%,4.6%,,,,,
normalized_gross_tickets_cy,158K,-3.6%,4.8%,,,,,

In [15]:
from kpi_rev import calculate_business_metrics

# Calculate business metrics
df_business = calculate_business_metrics(df_pricelince,end_date, pp_end_date)

from kpi_rev import calculate_carrier_metrics
# Calculate carrier metrics
df_carrier = calculate_carrier_metrics(df_pricelince_b2c_standalone, end_date, pp_end_date)

from kpi_rev import calculate_channel_metrics
# Calculate channel metrics
df_channel = calculate_channel_metrics(df_pricelince_b2c_standalone, end_date, pp_end_date)

from kpi_rev import calculate_source_metrics
# Calculate source metrics
df_source = calculate_source_metrics(df_pricelince_b2c_standalone, end_date, pp_end_date)

from kpi_rev import calculate_brand_metrics
# Calculate brand metrics
df_brand = calculate_brand_metrics(df_weekly, end_date, pp_end_date)

In [16]:
df_business

,Net Contr_standalone,YoY_standalone,YoY PW_standalone,Net Contr_package,YoY_package,YoY PW_package,Net Contr_total,YoY_total,YoY PW_total
company,,,,,,,,,
B2C,$1M,7.0%,-89.4%,$200K,46.2%,-81.7%,$2M,10.6%,-88.7%
B2B,$9K,22.4%,-6.1%,$103K,51.3%,-92.4%,$112K,48.4%,-85.5%
Total,$1M,7.1%,-89.0%,$303K,47.9%,-85.5%,$2M,12.4%,-88.5%

In [17]:
df_source

,Net Contr_Published,YoY_Published,YoY PW_Published,Net Contr_Private,YoY_Private,YoY PW_Private,Net Contr_Total,YoY_Total,YoY PW_Total
gds_bkng_name_grp,,,,,,,,,
Direct Connect,$323K,-18.0%,-84.7%,$266K,9503.9%,-11.9%,$589K,48.4%,-83.4%
Indirect Connect,$203K,51.0%,-50.9%,$676K,-19.5%,-98.4%,$880K,-9.8%,-92.1%
Phone Sales,,,,<$1K,nan%,inf%,<$1K,nan%,inf%
Total,$526K,-0.4%,-76.5%,$942K,11.7%,-97.5%,$1M,7.0%,-89.4%

# MOR

In [18]:
# Create df_mor
df_mor= pd.DataFrame()
df_mor['Net Contr'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)& ((df_pricelince['merchant_of_record'] == 'VCC')|(df_pricelince['merchant_of_record'] == 'PCLN'))].groupby(['offer_method_code'])['net_contribution_cy'].sum().round(-1).astype(int)
df_mor['Net Contr_cwly'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)& ((df_pricelince['merchant_of_record'] == 'VCC')|(df_pricelince['merchant_of_record'] == 'PCLN'))].groupby(['offer_method_code'])['net_contribution_ly'].sum().round(-1).astype(int)
df_mor['Net Contr_PW'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)& ((df_pricelince['merchant_of_record'] == 'VCC')|(df_pricelince['merchant_of_record'] == 'PCLN'))].groupby(['offer_method_code'])['net_contribution_cy'].sum().round(-1).astype(int)
df_mor['Net Contr_PWly'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)& ((df_pricelince['merchant_of_record'] == 'VCC')|(df_pricelince['merchant_of_record'] == 'PCLN'))].groupby(['offer_method_code'])['net_contribution_ly'].sum().round(-1).astype(int)


# Calculate YoY and YoY PW
df_mor.loc['Total','Net Contr':'Net Contr_PWly']=[df_mor['Net Contr'].sum(),df_mor['Net Contr_cwly'].sum(),df_mor['Net Contr_PW'].sum(), df_mor['Net Contr_PWly'].sum()]


# Create df_mor_1
df_mor_1= pd.DataFrame()
df_mor_1['Net Contr'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)].groupby(['offer_method_code'])['net_contribution_cy'].sum().round(-1).astype(int)
df_mor_1['Net Contr_cwly'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)].groupby(['offer_method_code'])['net_contribution_ly'].sum().round(-1).astype(int)
df_mor_1['Net Contr_PW'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)].groupby(['offer_method_code'])['net_contribution_cy'].sum().round(-1).astype(int)
df_mor_1['Net Contr_PWly'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)].groupby(['offer_method_code'])['net_contribution_ly'].sum().round(-1).astype(int)
# Calculate YoY and YoY PW
df_mor_1.loc['Total','Net Contr':'Net Contr_PWly']=[df_mor_1['Net Contr'].sum(),df_mor_1['Net Contr_cwly'].sum(),df_mor_1['Net Contr_PW'].sum(), df_mor_1['Net Contr_PWly'].sum()]

df_mor = pd.concat([df_mor,df_mor_1.add_suffix('_total')], axis=1)


df_mor['Actual']=(df_mor['Net Contr']/df_mor['Net Contr_total']*100).round(1).apply(format_percentage)
df_mor['%mor_ly']=(df_mor['Net Contr_cwly']/df_mor['Net Contr_cwly_total']*100).round().apply(format_percentage)
df_mor['YoY_bps']=(((df_mor['Net Contr']/df_mor['Net Contr_total']*100)-(df_mor['Net Contr_cwly']/df_mor['Net Contr_cwly_total']*100))*100).round()
df_mor['Actual_PW']=(df_mor['Net Contr_PW']/df_mor['Net Contr_PW_total']*100).round().apply(format_percentage)
df_mor['YoY_PW_bps']=(((df_mor['Net Contr_PW']/df_mor['Net Contr_PW_total']*100)-(df_mor['Net Contr_PWly']/df_mor['Net Contr_PWly_total']*100))*100).round()
df_mor['YoY_bps']=round_to_nearest_10(df_mor['YoY_bps'])
df_mor['YoY_PW_bps']=round_to_nearest_10(df_mor['YoY_PW_bps'])
df_mor=df_mor.loc[['Retail (Disclosed)', 'Total'],['Actual','YoY_bps','YoY_PW_bps']]
df_mor

                   Actual  YoY_bps  YoY_PW_bps
offer_method_code
Retail (Disclosed)  34.5%    450.0       140.0
Total               68.5%    340.0       150.0

In [19]:
# Create df_mor
df_mor_2= pd.DataFrame()
df_mor_2['Net Contr'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)].groupby(['trip_direction'])['net_contribution_cy'].sum().astype(int)
df_mor_2['Net Contr_cwly'] = df_pricelince[(df_pricelince['wk_ending'] == end_date)].groupby(['trip_direction'])['net_contribution_ly'].sum().astype(int)
df_mor_2['Net Contr_PW'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)].groupby(['trip_direction'])['net_contribution_cy'].sum().astype(int)
df_mor_2['Net Contr_PWly'] = df_pricelince[(df_pricelince['wk_ending'] == pp_end_date)].groupby(['trip_direction'])['net_contribution_ly'].sum().astype(int)
df_mor_2.loc['Total','Net Contr':'Net Contr_PWly']=[df_mor_2['Net Contr'].sum(),df_mor_2['Net Contr_cwly'].sum(),df_mor_2['Net Contr_PW'].sum(), df_mor_2['Net Contr_PWly'].sum()]
actual_cy=(df_mor_2.loc['US Outbound','Net Contr']*100/df_mor_2.loc['Total','Net Contr']).round()
actual_ly=df_mor_2.loc['US Outbound','Net Contr_cwly']*100/df_mor_2.loc['Total','Net Contr_cwly']
actual_PW=df_mor_2.loc['US Outbound','Net Contr_PW']*100/df_mor_2.loc['Total','Net Contr_PW']
actual_PWly=df_mor_2.loc['US Outbound','Net Contr_PWly']*100/df_mor_2.loc['Total','Net Contr_PWly']
df_mor.loc['US Outbound','Actual']=format_percentage(actual_cy)
df_mor.loc['US Outbound','YoY_bps']=round_to_nearest_10((actual_cy-actual_ly)*100)
df_mor.loc['US Outbound','YoY_PW_bps']=round_to_nearest_10((actual_PW-actual_PWly)*100)
new_index_order = ['US Outbound','Retail (Disclosed)','Total'] 
df_mor=df_mor.reindex(new_index_order).fillna('')
df_mor

                   Actual  YoY_bps  YoY_PW_bps
offer_method_code
US Outbound          8.0%    -30.0       -20.0
Retail (Disclosed)  34.5%    450.0       140.0
Total               68.5%    340.0       150.0

## ROI

In [20]:
from roi_conversion_table import create_roi_table

df_roi = create_roi_table(roi,end_date,format_number)

df_roi

,Cost_App,Cost YoY_App,ROI_App,Cost_Desk/MWEB,Cost YoY_Desk/MWEB,ROI_Desk/MWEB,Cost_Total,Cost YoY_Total,ROI_Total
channel,,,,,,,,,
Direct,,,,,,,,,
SEM Core,,,,599K,-17.5%,1.09,599K,-17.5%,1.09
SEM Brand,,,,58K,-10.9%,6.21,58K,-10.9%,6.21
Shop PPC,,,,,,,,,
Affiliate,,,,,,,,,
Email,,,,,,,,,
Meta,,,,14K,-25.1%,1.59,14K,-25.1%,1.59
Total,<1K,,,671K,-17.1%,1.54,671K,-17.1%,1.54

In [21]:
from roi_conversion_table import create_conversion_table


df_conversion = create_conversion_table(dau,end_date,format_number) 
df_conversion

/Users/sye/Library/CloudStorage/GoogleDrive-shiyun.ye@priceline.com/Shared drives/Business - Air/RM Analytics/ShiyunY/Work/Flight_Weekly_Note_Used/code/roi_conversion_table.py:105: RuntimeWarning: invalid value encountered in scalar divide
  total_values['Conversion'] = (total_values['conversions'] / total_values['DAU']).round(2)

,DAU_App,Conversion_App,DAU_Desk/MWEB,Conversion_Desk/MWEB,DAU_Total,Conversion_Total
channel,,,,,,
Direct,,,481K,5.4%,481K,5.4%
SEM Core,,,213K,6.0%,213K,6.0%
SEM Brand,,,110K,8.0%,110K,8.0%
Shop PPC,,,672K,1.0%,672K,1.0%
Affiliate,,,21K,16.7%,21K,16.7%
Email,,,,,,
Meta,,,17K,3.7%,17K,3.7%
Total,0.0,,1.5M,0.0%,1.5M,0.0%

## TSA DATA

In [22]:
from tsa_table import create_tsa_web_table
df_tsa_web=create_tsa_web_table()
df_tsa_web=df_tsa_web.dropna()

In [23]:
from tsa_table import create_df_tsa_table
df_tsa=create_df_tsa_table(tsa_data,df_tsa_web,format_percentage,end_date,pp_end_date,round_to_nearest_10)
df_tsa

       priceline_passengers  TSA_passengers     %   YoY
CY                 203663.0      15808914.0  1.3%  10.0
LY                 180129.0      15270605.0  1.2%   NaN
CY_PW              203663.0      15808914.0  1.3%   0.0
LY_PW              180129.0      14445107.0  1.2%   NaN

## Parity data

In [24]:
from parity_table import create_parity_table

df_parity = create_parity_table(
        format_percentage,
        df_direct_parity,
        round_to_nearest_10,
        df_meta_parity)
df_parity

,Actual_pcln,YoY (bps)_pcln,YoY PW (bps)_pcln,Actual_expe,YoY (bps)_expe,YoY PW (bps)_expe
Direct vs Expedia,93.2%,650.0,930.0,NaN,NaN,NaN
Kayak Placement,12.8%,-70.0,200.0,13.6%,230.0,340.0
Skyscanner Placement,22.6%,1310.0,1160.0,28.4%,-1400.0,-1230.0

In [25]:
from datetime import datetime, timedelta

deal_ticket_actual_cy=df_deal_share[(df_deal_share['wk_ending']==end_date.strftime('%Y-%m-%d'))&(df_deal_share['logic2Category'].isnull())]['totalTkts'].sum()
total_cy=df_deal_share[(df_deal_share['wk_ending']==end_date.strftime('%Y-%m-%d'))]['totalTkts'].sum()
deal_ticket_actual_cy=float(1-(deal_ticket_actual_cy/total_cy))
df_mor.loc['deal_share','Actual']=format_percentage(deal_ticket_actual_cy*100)

deal_ticket_actual_ly=df_deal_share[(df_deal_share['wk_ending']==(end_date - timedelta(days=364)).strftime('%Y-%m-%d'))&(df_deal_share['logic2Category'].isnull())]['totalTkts'].sum()
total_ly=df_deal_share[df_deal_share['wk_ending']==(end_date - timedelta(days=364)).strftime('%Y-%m-%d')]['totalTkts'].sum()
deal_ticket_actual_ly=float(1-(deal_ticket_actual_ly/total_ly))


deal_ticket_actual_PW=df_deal_share[(df_deal_share['wk_ending']==(pp_end_date ).strftime('%Y-%m-%d'))&(df_deal_share['logic2Category'].isnull())]['totalTkts'].sum()
total_PW=df_deal_share[df_deal_share['wk_ending']==(pp_end_date).strftime('%Y-%m-%d')]['totalTkts'].sum()
deal_ticket_actual_PW=float(1-(deal_ticket_actual_PW/total_PW))

deal_ticket_actual_PWly=df_deal_share[(df_deal_share['wk_ending']==(pp_end_date - timedelta(days=364)).strftime('%Y-%m-%d'))&(df_deal_share['logic2Category'].isnull())]['totalTkts'].sum()
total_PWly=df_deal_share[df_deal_share['wk_ending']==(pp_end_date - timedelta(days=364)).strftime('%Y-%m-%d')]['totalTkts'].sum()
deal_ticket_actual_PWly=float(1-(deal_ticket_actual_PWly/total_PWly))

In [26]:
df_others = pd.DataFrame()
df_others.loc['deal_share','Actual_pcln']=format_percentage(deal_ticket_actual_cy*100)
df_others.loc['deal_share','YoY (bps)_pcln']=round_to_nearest_10((deal_ticket_actual_cy-deal_ticket_actual_ly)*10000)
df_others.loc['deal_share','YoY PW (bps)_pcln']=round_to_nearest_10((deal_ticket_actual_PW-deal_ticket_actual_PWly)*10000)


df_others.loc['TSA','Actual_pcln']=df_tsa.loc['CY','%']
df_others.loc['TSA','YoY (bps)_pcln']=df_tsa.loc['CY','YoY']
df_others.loc['TSA','YoY PW (bps)_pcln']=df_tsa.loc['CY_PW','YoY']

df_others.loc['US Outbound','Actual_pcln']=df_mor.loc['US Outbound','Actual']
df_others.loc['US Outbound','YoY (bps)_pcln']=df_mor.loc['US Outbound','YoY_bps']
df_others.loc['US Outbound','YoY PW (bps)_pcln']=df_mor.loc['US Outbound','YoY_PW_bps']
df_others.loc['Merchant Retail','Actual_pcln']=df_mor.loc['Retail (Disclosed)','Actual']
df_others.loc['Merchant Retail','YoY (bps)_pcln']=df_mor.loc['Retail (Disclosed)','YoY_bps']
df_others.loc['Merchant Retail','YoY PW (bps)_pcln']=df_mor.loc['Retail (Disclosed)','YoY_PW_bps']
df_others.loc['Merchant Total','Actual_pcln']=df_mor.loc['Total','Actual']
df_others.loc['Merchant Total','YoY (bps)_pcln']=df_mor.loc['Total','YoY_bps']
df_others.loc['Merchant Total','YoY PW (bps)_pcln']=df_mor.loc['Total','YoY_PW_bps']


# df_others = df_others.append(df_parity.iloc[0:])
df_others= pd.concat([df_others, df_parity.iloc[0:]])
new_index_order = ['ARC', 'TSA','Direct vs Expedia','Kayak Placement','Skyscanner Placement', 'US Outbound','Merchant Retail','Merchant Total','deal_share','Bookability']
df_others=df_others.reindex(new_index_order).fillna('')
df_others

,Actual_pcln,YoY (bps)_pcln,YoY PW (bps)_pcln,Actual_expe,YoY (bps)_expe,YoY PW (bps)_expe
ARC,,,,,,
TSA,1.3%,10.0,0.0,,,
Direct vs Expedia,93.2%,650.0,930.0,,,
Kayak Placement,12.8%,-70.0,200.0,13.6%,230.0,340.0
Skyscanner Placement,22.6%,1310.0,1160.0,28.4%,-1400.0,-1230.0
US Outbound,8.0%,-30.0,-20.0,,,
Merchant Retail,34.5%,450.0,140.0,,,
Merchant Total,68.5%,340.0,150.0,,,
deal_share,33.6%,90.0,0.0,,,
Bookability,,,,,,

In [27]:

from docx import Document
from docx.oxml.ns import qn
from docx.oxml import OxmlElement
from docx.shared import Pt
from config_table import clear_document
from config_table import set_font
from config_table import create_word_table
from config_table import create_summary_table
from config_table import create_others_table
from config_table import create_dau_table

# Data preparation and configurations
carrier_logos = [
    {'start_col': 1, 'end_col': 3, 'path': '../Screenshots/weeklynote/Retail.png', 'title': 'Retail'},
    {'start_col': 4, 'end_col': 6, 'path': '../Screenshots/weeklynote/Express.png', 'title': 'Express Deals'},
    {'start_col': 7, 'end_col': 9, 'path': '../Screenshots/weeklynote/Total.png', 'title': 'Total'}
]

business_logos = [
    {'start_col': 1, 'end_col': 3, 'path': '../Screenshots/weeklynote/Standalone.png', 'title': 'Standalone'},
    {'start_col': 4, 'end_col': 6, 'path': '../Screenshots/weeklynote/Package.png', 'title': 'Package'},
    {'start_col': 7, 'end_col': 9, 'path': '../Screenshots/weeklynote/Total.png', 'title': 'Total'}
]

channel_logos = [
    {'start_col': 1, 'end_col': 3, 'path': '../Screenshots/weeklynote/App.png', 'title': 'App'},
    {'start_col': 4, 'end_col': 6, 'path': '../Screenshots/weeklynote/MWeb Desktop.png', 'title': 'MWeb/Desktop'},
    {'start_col': 7, 'end_col': 9, 'path': '../Screenshots/weeklynote/Total.png', 'title': 'Total'}
]

source_logos = [
    {'start_col': 1, 'end_col': 3, 'path': '../Screenshots/weeklynote/Published.png', 'title': 'Published'},
    {'start_col': 4, 'end_col': 6, 'path': '../Screenshots/weeklynote/Private.png', 'title': 'Private'},
    {'start_col': 7, 'end_col': 9, 'path': '../Screenshots/weeklynote/Total.png', 'title': 'Total'}
]

def customize_bullet_style(paragraph, font_size):
    """
    Customize bullet style in a paragraph using XML manipulation.
    """
    # Access the paragraph's properties
    pPr = paragraph._element.get_or_add_pPr()
    numPr = OxmlElement('w:numPr')
    ilvl = OxmlElement('w:ilvl')
    ilvl.set(qn('w:val'), '0')  # Set indentation level
    numId = OxmlElement('w:numId')
    numId.set(qn('w:val'), '1')  # Set numbering ID

    numPr.append(ilvl)
    numPr.append(numId)
    pPr.append(numPr)

    # Modify font properties
    for run in paragraph.runs:
        run.font.name = "Montserrat"
        run.font.size = font_size

# Create a Word Document
word_document = Document()

# Clear the document (if necessary)
clear_document(word_document)

# Add Title
word_document.add_paragraph()
word_document.add_paragraph(f'Summary')
set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(18), bold=True)
word_document.add_paragraph('\n')

# Create Summary Table
create_summary_table(word_document, df_summary)

# Add General Notes
summary_notes = [
    'All Priceline Contr (includes B2B, Package and Express Deals)',
    'Normalized Contr are counted the same as Contr, except split Contr count as 1 instead of 2',
    'Refunds are assigned to refund date',
    'Revenue includes commission/margin/seats/bags/Wenrix. Does not include insurance.'
    
]
for note in summary_notes:
    word_document.add_paragraph(note, style='List Bullet')
    set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(7), bold=False)
    customize_bullet_style(word_document.paragraphs[-1], font_size=Pt(7))

# Add Tables for Business, Carrier, Channel, and Source
tables = [
    (df_business, "Business", business_logos, [
        'All Priceline Contr (includes Express Deals, not normalized)'
    ]),
    (df_carrier, "Carrier", carrier_logos, [
        'Priceline, B2C, Standalone (not normalized)'
    ]),
    (df_channel, "Channel", channel_logos, [
        'All Priceline Contr (includes Express Deals, not normalized)'
    ]),
    (df_source, "Source", source_logos, [
        'All Priceline Contr (includes Express Deals, not normalized)',
        'Priceline, B2C, Standalone (includes Express Deals, not normalized)',
        'Indirect Connect = GDS + Aggregators + Consolidators + NDC-X',
    ])
]
for df, title, logos, notes in tables:
    if df is None:
        continue
   
   # Add specific custom notes for each table
    if title == "Business":
        custom_note = "Total Business - Detail"
    elif title == "Carrier":
        custom_note = "Priceline B2C Standalone - Detail"
    else:
        custom_note = " "

    # Add the custom note before the table
    word_document.add_paragraph(custom_note)
    set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(18), bold=True)
    word_document.add_paragraph()

    create_word_table(df, title, logos, word_document)

    # word_document.add_paragraph()
    
    for note in notes:
        word_document.add_paragraph(note, style='List Bullet')
        # word_document.add_paragraph('\n')
        set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(7), bold=False)
    
word_document.add_paragraph('\n')
word_document.add_paragraph('Other Metrics')
set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(18), bold=False)
create_others_table(word_document, df_others)

others_notes = [
    'ARC market share: OTA only, US POS, does not include NK/SY, includes Agoda/Booking',
    'TSA market share: US origin Contr vs TSA passengers, based on travel date, includes Agoda/Booking',
    'Direct parity vs Expedia: US origins, win+tie rate',
    'Kayak placement: US origins, availability in the top 4 positions',
    'Skyscanner placement: US origins, availability in the top 4 positions',
    'US outbound share: ticket share for US origins, international destinations',
    'Merchant share: ticket share where Priceline is merchant of record',
    'Deal share: share of Contr sold as a deal',
    'Bookability: acceptance rate, includes multiple attempts by same user',
]
for note in others_notes:
    word_document.add_paragraph(note, style='List Bullet')
    set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(7), bold=False)
word_document.add_paragraph('\n')

word_document.add_paragraph(f'ROI')
set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(18), bold=True)
# Add ROI Section
roi_notes = [
    'ROI = Contribution / Cost',
    'SEM Brand includes all products, weighted by ratio of flight orders',
    'Meta includes Kayak/Momondo, includes Kayak credit',
    'Last week'
]

roi_table = [
    (df_roi, "Channel", channel_logos, roi_notes)
]

for df, title, logos, notes in roi_table:
    word_document.add_paragraph()
    word_document.add_paragraph('\n')
    create_word_table(df, title, logos, word_document)
    for note in notes:
        word_document.add_paragraph(note, style='List Bullet')
        set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(7), bold=False)
word_document.add_paragraph('\n')


word_document.add_paragraph(f'DAU')
set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(18), bold=True)

# Add DAU Section
dau_notes = [
    'Search Stream',
    'DAU = Daily Active Users, distinct customers searching on Priceline',
    'Conversion Rate = Conversions / DAU',
    'Last week'
]
create_dau_table(word_document, df_conversion)

for note in notes:
        word_document.add_paragraph(note, style='List Bullet')
        set_font(word_document.paragraphs[-1], font_name="Montserrat", font_size=Pt(7), bold=False)
word_document.add_paragraph('\n')


# Save the Document
output_filename = os.path.join('../output/', f'Flight Performance Week Ending (Rev){end_date}.docx')
word_document.save(output_filename)
print(f"Word document '{output_filename}' has been created successfully.")

# Save PDF to Shared Drive
share_drive_path = '../../../Flight Weekly Note Output/'
word_document.save(share_drive_path + f'Flight Performance Week Ending(Rev){end_date}.pdf')

print(f"Word document saved to shared drive at '{share_drive_path}' has been created successfully.")

Word document '../output/Flight Performance Week Ending (Rev)2025-02-15.docx' has been created successfully.
Word document saved to shared drive at '../../../Flight Weekly Note Output/' has been created successfully.

In [28]:
df_others

,Actual_pcln,YoY (bps)_pcln,YoY PW (bps)_pcln,Actual_expe,YoY (bps)_expe,YoY PW (bps)_expe
ARC,,,,,,
TSA,1.3%,10.0,0.0,,,
Direct vs Expedia,93.2%,650.0,930.0,,,
Kayak Placement,12.8%,-70.0,200.0,13.6%,230.0,340.0
Skyscanner Placement,22.6%,1310.0,1160.0,28.4%,-1400.0,-1230.0
US Outbound,8.0%,-30.0,-20.0,,,
Merchant Retail,34.5%,450.0,140.0,,,
Merchant Total,68.5%,340.0,150.0,,,
deal_share,33.6%,90.0,0.0,,,
Bookability,,,,,,